{% extends "base.html"  %}

{% load markdown_deux_tags %}

{% block content %}
	<div class='post single' id='single-{{ post.id }}'>
		<h2>{{ post.title }}</h2>
		<p>Published on {{ post.published|date:"jS M Y" }} | Categories: 
			<span class='categories'>
				{% for category in post.categories.all %}
					<a href='{{ category.get_absolute_url }}'>{{ category.title }}</a>
					{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</span>	
		</p>
		{% if post.image.url %}
			<img src='{{ post.image.url }}' />
		{% endif %}
		{{ post.content|markdown:"safe" }}
		<div id='pagination'>
			{% if post.has_previous %}
				<a href='{{ post.previous_post.get_absolute_url }}'>Prev</a>
			{% endif %} 
			{% if post.has_next %}
				<a href='{{ post.next_post.get_absolute_url }}'>Next</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
